.flexivel{
    display: flex;
    flex-wrap: wrap;
}
.card{
    flex: 1 1 200px;
    background-color: rgb(217, 250, 0);
    border-radius: 5pt;
    margin: 5px;
    padding: 5px;
}
.card:hover{
    flex: 1 1 300px;
    background-color: rgb(38, 255, 0);
    transition: 1s;
    color: rgb(0, 0, 0);
}